<?xml version="1.0" encoding="utf-8"?>
  <appSettings>
    <add key="TestHost" value="" />
    <add key="TestHost" value="" />
    <add key="TestUrl" value="" /> 
    <add key="TeacherLogin" value="root" />
    <add key="TeacherPassword" value="123456" />
    <add key="TeacherDisplayName" value="Lise Therkelsen (ROOT)"/>
    <add key="ParentLogin" value="maximmom" />
    <add key="ParentPassword" value="123456" />
    <add key="Parent2Login" value="maximfar" />
    <add key="Parent2Password" value="1234567" />
    <add key="TeacherLoginMb" value="MB" />
    <add key="TeacherPasswordMb" value="123456" />
    <add key="TeacherMbDisplayName" value="Max Bergman" />
    <add key="ParentLoginMax" value="maxpar" />
    <add key="ParentPasswordMax" value="123456" />
    <add key="StudentLogin" value="testmaxim" />
    <add key="StudentPassword" value="123456" />
    <add key="StudentDisplayName" value="MaxSoap0a Maximtest0a"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>